<% content_for :title, "Editing post" %>

<h1 style="text-align:center;">Editing post</h1>

<%= render "form", post: @post %>

<br>

<div style="text-align:center;">
  <%= link_to "Show this post", @post, 
        style: "text-align: center; color: #aaa; text-decoration: none; font-size: 0.9rem;" %> |
  <%= link_to "Back to posts", posts_path, 
        style: "text-align: center; color: #aaa; text-decoration: none; font-size: 0.9rem;" %> 
</div>
