<% content_for :title, "New post" %>

<h1 style="text-align: center;">New post</h1>
<p style="font-size: 1.1rem; color: #aaa; margin-bottom: 40px; font-family: 'Inter', sans-serif; letter-spacing: 1px;text-align: center;">
      Let the world know<br>
</p>

<%= render "form", post: @post %>
<div style="text-align: center;">
    <%= link_to "Back to Posts", posts_path, 
        style: "color: #aaa; text-decoration: none; font-size: 0.9rem;" %>
  </div>
